@font-face {
  font-family: OxygenBold;
  src: url(../fonts/oxygen.bold.ttf);
}
@font-face {
  font-family: OxygenRegular;
  src: url(../fonts/oxygen.regular.ttf);
}
@font-face {
  font-family: OxygenRegular2;
  src: url(../fonts/Oxygen-Regular.ttf);
}
@font-face {
  font-family: ChapazaRegular;
  src: url(../fonts/Chapaza.ttf);
}

/* FONT FAMILY */
$font-family-1: OxygenBold, Calibri, sans-serif;;
$font-family-2: OxygenRegular, Calibri, sans-serif;
$font-family-3: ChapazaRegular, Calibri, sans-serif;

/* FONT SIZE */
$font-size-1: 50px;
$font-size-2: 30px;
$font-size-3: 25px;

/* FONT COLOR */
$font-color-1: #223E60;
$font-color-2: #575757;
$font-color-3: #7D7D7D;
$font-color-4: #203E60;