.footer {
  margin-top: 60px;
  border-top: solid 1.2px #CCCCCC;
/*  padding: 5.2% 3.55% 3.15% 4.2%; */
  padding: 6.18% 4.22% 3.75% 5%;


  p {
    font-size: $font-size-3;
    color: $font-color-3;

    a{
      display: initial;
    }
  }

  .footer-custom-grid {
    width: 59.67%;
  }


  .footer-custom-grid, .footer-custom-grid_2 {
    p.footer-column-text {
      margin-bottom: 0;
    }
  }

  .footer-custom-grid_2 {
    width: 90.11%;
  }

  .footer-custom-grid_3 {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    align-items: flex-end;
    width: 90.11%;

    .col {
      flex: 1;
      &:nth-child(2) {
        text-align: right;
      }
      .footer_logo {
        margin-top: 54px;
      }
    }
  }

  a.footer-mail {
    margin-bottom: 48px;
    margin-top: 48px;
  }
}

$breakpoint_1: "(max-width: 1600px)";
@media #{$breakpoint_1}{
  .footer {
    $font-small: 18px;
    a{
      font-size: $font-small;
    }
    p {
      font-size: $font-small;

      a{
        font-size: $font-small;
      }
    }
    .footer-custom-grid {
      width: 95%;
    }
    .footer-custom-grid, .footer-custom-grid_2 {
      p.footer-column-text {
        margin-bottom: 0;
      }
    }

    .footer-custom-grid_2 {
      width: 95%;
    }
  }
}
$breakpoint_2: "(max-width: 874px)";
@media #{$breakpoint_2}{
  .footer {
    padding: 1%;
    .grid-flex {
      flex-direction: column;
      .col {
        h4 {
          text-align: center;
        }
        .footer-custom-grid {
          width: 100%;
          flex-direction: row;
          .footer-col-1 {
            width: initial;
            text-align: left;
          }
          .footer-col-2 {
            width: 5%;
          }
          .footer-col-3 {
            width: initial;
            text-align: right;
          }
        }
        .footer-custom-grid + a, .footer-custom-grid + a + p {
          text-align: center;
        }

        .footer-custom-grid_2 {
          flex-direction: row;
          width: 100%;
          .footer-col-1 {
            width: initial;
            text-align: left;
            margin-right: 5%;
          }
          .footer-col-3 {
            width: initial;
            text-align: right;
            margin-left: 5%;
          }
        }
      }
    }
    .footer-custom-grid_3 {
      max-width: 100%;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
      .col {
        flex: initial;
      }
    }
  }
}

$breakpoint_3: "(max-width: 540px)";
@media #{$breakpoint_3}{
  .footer {
    .grid-flex {
      .col {
        .footer-custom-grid + a, .footer-custom-grid + a + p {
          text-align: center;
        }

        .footer-custom-grid_2 {
          flex-direction: column;
          .footer-col-1 {
            width: initial;
            text-align: center;
            margin-right: 0;
            margin-bottom: 2%;
          }
          .footer-col-3 {
            width: initial;
            text-align: center;
            margin-left: 0;
            margin-top: 2%;
          }
        }
      }
    }
  }
}