.container-fluid {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.grid-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;

  .col {
    flex: 1;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
    width: 8.3333% * $i;
    }
  }
}