@import 'fonts';
@import 'grid';
@import 'slider';
@import 'nav';
@import 'page';
@import 'footer';

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h3 {
  font-family: $font-family-2;
  font-size: $font-size-1;
  font-weight: initial;
  color: $font-color-1;
  margin-bottom: 65px;
  margin-top: 0;
}

p {
  font-family: $font-family-2;
  font-size: $font-size-2;
  color: $font-color-1;
  margin-top: 0;

}

hr {
  color: #CCCCCC;
}

h4 {
  font-family: $font-family-1;
  font-size: $font-size-3;
  color: $font-color-1;
}

a {
  color: $font-color-4;
  font-size: $font-size-3;
  text-decoration: none;
  font-family: $font-family-2;
  display: block;
}