
.nav-container {
  max-width: 100%;
  margin-bottom: 105px;
  .container {
    .nav {
      min-height: 85.7px;
      width: 94.5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        font-family: $font-family-1;
        font-size: 24.13px;
        font-weight: initial;
        color: $font-color-2;

        &.active {
          font-family: $font-family-1;
          color: $font-color-1;
        }
      }
    }
    #slick_nav {
      display: none;
    }
  }
  box-shadow: 0 12px 30px #E3EBF0;
}
.slicknav_menu {
  display: none;
}

$breakpoint_1: "(max-width: 768px)";
@media #{$breakpoint_1}{
  .nav-container {
    .container {
      .nav {
        display: none;
      }
      #slicknav_menu_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .slicknav_menu {
    width: 94.5%;
    display: block;
    background: white;
    padding: 0;
    position: static;
    a {
      &.slicknav_btn {
        display: inline-block;
        outline: none;
        position: relative;
        right: 15px;
        margin: 15px;
        background: $font-color-1;
        .slicknav_icon {
          margin: 0;
          float: none;
        }
      }
      text-decoration: none;
      font-family: $font-family-1;
      font-size: 24.13px;
      font-weight: initial;
      color: $font-color-2;

      &.active {
        font-family: $font-family-1;
        color: $font-color-1;
      }
    }
  }
}