.slider {
  min-height: 355px;
  width: 100%;
  background: $font-color-1;

  .bx-wrapper {
    -moz-box-shadow: 0 0 0px #ccc;
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: 0px;
    left: 0px;
    background: inherit;
    margin: 0;
    min-height: 355px;

    .bx-viewport {
      height: 100%!important;

      .bxslider{
        height: 100%;

        .flex-container {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 355px!important;
          text-align: center;
          flex-direction: column;
          .header {
            font-size: 205px;
            font-family: $font-family-3;
            color: white;
            height: 220px;
            margin: 0;
          }
          .normal {
            font-size: 47.96px;
            font-family: $font-family-3;
            color: white;
            font-weight: bold;
            margin: 0;
          }
        }

      }
    }
  }

  .bx-controls {
    display: none;
  }
}

$breakpoint_1: "(max-width: 768px)";
@media #{$breakpoint_1}{
  .slider {
    .bx-wrapper {
      .bx-viewport {
        .bxslider {
          .header {
            font-size: 60px;
          }
          .normal {
            font-size: 30px;
          }
        }
      }
    }
  }
}