@font-face {
  font-family: OxygenBold;
  src: url(../fonts/oxygen.bold.ttf); }

@font-face {
  font-family: OxygenRegular;
  src: url(../fonts/oxygen.regular.ttf); }

@font-face {
  font-family: OxygenRegular2;
  src: url(../fonts/Oxygen-Regular.ttf); }

@font-face {
  font-family: ChapazaRegular;
  src: url(../fonts/Chapaza.ttf); }

/* FONT FAMILY */
/* FONT SIZE */
/* FONT COLOR */
.container-fluid {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.grid-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .grid-flex .col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .grid-flex .col-1 {
    width: 8.3333%; }
  .grid-flex .col-2 {
    width: 16.6666%; }
  .grid-flex .col-3 {
    width: 24.9999%; }
  .grid-flex .col-4 {
    width: 33.3332%; }
  .grid-flex .col-5 {
    width: 41.6665%; }
  .grid-flex .col-6 {
    width: 49.9998%; }
  .grid-flex .col-7 {
    width: 58.3331%; }
  .grid-flex .col-8 {
    width: 66.6664%; }
  .grid-flex .col-9 {
    width: 74.9997%; }
  .grid-flex .col-10 {
    width: 83.333%; }
  .grid-flex .col-11 {
    width: 91.6663%; }
  .grid-flex .col-12 {
    width: 99.9996%; }

.slider {
  min-height: 355px;
  width: 100%;
  background: #223E60; }
  .slider .bx-wrapper {
    -webkit-box-shadow: 0 0 0px #ccc;
    box-shadow: 0 0 0px #ccc;
    border: 0px;
    left: 0px;
    background: inherit;
    margin: 0;
    min-height: 355px; }
    .slider .bx-wrapper .bx-viewport {
      height: 100% !important; }
      .slider .bx-wrapper .bx-viewport .bxslider {
        height: 100%; }
        .slider .bx-wrapper .bx-viewport .bxslider .flex-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          min-height: 355px !important;
          text-align: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .slider .bx-wrapper .bx-viewport .bxslider .flex-container .header {
            font-size: 205px;
            font-family: ChapazaRegular, Calibri, sans-serif;
            color: white;
            height: 220px;
            margin: 0; }
          .slider .bx-wrapper .bx-viewport .bxslider .flex-container .normal {
            font-size: 47.96px;
            font-family: ChapazaRegular, Calibri, sans-serif;
            color: white;
            font-weight: bold;
            margin: 0; }
  .slider .bx-controls {
    display: none; }

@media (max-width: 768px) {
  .slider .bx-wrapper .bx-viewport .bxslider .header {
    font-size: 60px; }
  .slider .bx-wrapper .bx-viewport .bxslider .normal {
    font-size: 30px; } }

.nav-container {
  max-width: 100%;
  margin-bottom: 105px;
  -webkit-box-shadow: 0 12px 30px #E3EBF0;
          box-shadow: 0 12px 30px #E3EBF0; }
  .nav-container .container .nav {
    min-height: 85.7px;
    width: 94.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav-container .container .nav a {
      text-decoration: none;
      font-family: OxygenBold, Calibri, sans-serif;
      font-size: 24.13px;
      font-weight: initial;
      color: #575757; }
      .nav-container .container .nav a.active {
        font-family: OxygenBold, Calibri, sans-serif;
        color: #223E60; }
  .nav-container .container #slick_nav {
    display: none; }

.slicknav_menu {
  display: none; }

@media (max-width: 768px) {
  .nav-container .container .nav {
    display: none; }
  .nav-container .container #slicknav_menu_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .slicknav_menu {
    width: 94.5%;
    display: block;
    background: white;
    padding: 0;
    position: static; }
    .slicknav_menu a {
      text-decoration: none;
      font-family: OxygenBold, Calibri, sans-serif;
      font-size: 24.13px;
      font-weight: initial;
      color: #575757; }
      .slicknav_menu a.slicknav_btn {
        display: inline-block;
        outline: none;
        position: relative;
        right: 15px;
        margin: 15px;
        background: #223E60; }
        .slicknav_menu a.slicknav_btn .slicknav_icon {
          margin: 0;
          float: none; }
      .slicknav_menu a.active {
        font-family: OxygenBold, Calibri, sans-serif;
        color: #223E60; } }

.page {
  padding-left: 11px;
  padding-right: 11px; }

.footer {
  margin-top: 60px;
  border-top: solid 1.2px #CCCCCC;
  /*  padding: 5.2% 3.55% 3.15% 4.2%; */
  padding: 6.18% 4.22% 3.75% 5%; }
  .footer p {
    font-size: 25px;
    color: #7D7D7D; }
    .footer p a {
      display: initial; }
  .footer .footer-custom-grid {
    width: 59.67%; }
  .footer .footer-custom-grid p.footer-column-text, .footer .footer-custom-grid_2 p.footer-column-text {
    margin-bottom: 0; }
  .footer .footer-custom-grid_2 {
    width: 90.11%; }
  .footer .footer-custom-grid_3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 90.11%; }
    .footer .footer-custom-grid_3 .col {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      .footer .footer-custom-grid_3 .col:nth-child(2) {
        text-align: right; }
      .footer .footer-custom-grid_3 .col .footer_logo {
        margin-top: 54px; }
  .footer a.footer-mail {
    margin-bottom: 48px;
    margin-top: 48px; }

@media (max-width: 1600px) {
  .footer a {
    font-size: 18px; }
  .footer p {
    font-size: 18px; }
    .footer p a {
      font-size: 18px; }
  .footer .footer-custom-grid {
    width: 95%; }
  .footer .footer-custom-grid p.footer-column-text, .footer .footer-custom-grid_2 p.footer-column-text {
    margin-bottom: 0; }
  .footer .footer-custom-grid_2 {
    width: 95%; } }

@media (max-width: 874px) {
  .footer {
    padding: 1%; }
    .footer .grid-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .grid-flex .col h4 {
        text-align: center; }
      .footer .grid-flex .col .footer-custom-grid {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        .footer .grid-flex .col .footer-custom-grid .footer-col-1 {
          width: initial;
          text-align: left; }
        .footer .grid-flex .col .footer-custom-grid .footer-col-2 {
          width: 5%; }
        .footer .grid-flex .col .footer-custom-grid .footer-col-3 {
          width: initial;
          text-align: right; }
      .footer .grid-flex .col .footer-custom-grid + a, .footer .grid-flex .col .footer-custom-grid + a + p {
        text-align: center; }
      .footer .grid-flex .col .footer-custom-grid_2 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%; }
        .footer .grid-flex .col .footer-custom-grid_2 .footer-col-1 {
          width: initial;
          text-align: left;
          margin-right: 5%; }
        .footer .grid-flex .col .footer-custom-grid_2 .footer-col-3 {
          width: initial;
          text-align: right;
          margin-left: 5%; }
    .footer .footer-custom-grid_3 {
      max-width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer .footer-custom-grid_3 .col {
        -webkit-box-flex: initial;
            -ms-flex: initial;
                flex: initial; } }

@media (max-width: 540px) {
  .footer .grid-flex .col .footer-custom-grid + a, .footer .grid-flex .col .footer-custom-grid + a + p {
    text-align: center; }
  .footer .grid-flex .col .footer-custom-grid_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .grid-flex .col .footer-custom-grid_2 .footer-col-1 {
      width: initial;
      text-align: center;
      margin-right: 0;
      margin-bottom: 2%; }
    .footer .grid-flex .col .footer-custom-grid_2 .footer-col-3 {
      width: initial;
      text-align: center;
      margin-left: 0;
      margin-top: 2%; } }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

h3 {
  font-family: OxygenRegular, Calibri, sans-serif;
  font-size: 50px;
  font-weight: initial;
  color: #223E60;
  margin-bottom: 65px;
  margin-top: 0; }

p {
  font-family: OxygenRegular, Calibri, sans-serif;
  font-size: 30px;
  color: #223E60;
  margin-top: 0; }

hr {
  color: #CCCCCC; }

h4 {
  font-family: OxygenBold, Calibri, sans-serif;
  font-size: 25px;
  color: #223E60; }

a {
  color: #203E60;
  font-size: 25px;
  text-decoration: none;
  font-family: OxygenRegular, Calibri, sans-serif;
  display: block; }
